{% extends "layout.html" %}

{% block contents %}

  {% if crafters|length > 0 %}
  <div id="intro">
    <div id="intro_wrap">
      <div id="product_intro" class="container_12">
        <div id="product_intro_info" class="grid_5">

		  {% for crafter_obj in crafters %}

          <div style="position: relative;">
            <h2><a href="product.html">{{crafter_obj.name}} {{crafter_obj.surname}}</a></h2>
            <p class="s_desc"> {{crafter_obj.about}} <div class="s_price_holder">
            </div>
          </div>

		  {% endfor %}

        </div>
        <div id="product_intro_preview">
          <div class="slides_container">

			{% for crafter_obj in crafters %}

			 <div class="slideItem" style="display: none"><a href="product.html"><img src="/img/product_300x300.jpg" alt="" /></a></div>

			{% endfor %}

          </div>
          <a class="s_button_prev" href="javascript:;"></a>
          <a class="s_button_next" href="javascript:;"></a>
        </div>
      </div>
    </div>
  </div>
	<script type="text/javascript" src="/js/jquery/jquery.slides.js"></script> 
  <script type="text/javascript" src="/js/shoppica.products_slide.js"></script>
  {% endif %}
  
  
  <!-- ********************** --> 
  <!--      C O N T E N T     --> 
  <!-- ********************** --> 
  <div id="content" class="container_12">
  
    <div id="welcome" class="grid_12">
      <h2>Welcome to Online Crafters Market</h2>
      <p>We do crafting</p>
    </div>
    
    <div class="clear"></div>
    
    <div id="special_home" class="grid_12">
      <h2 class="s_title_1"><span class="s_main_color">Newest</span> Products</h2>
      <div class="clear"></div>
      <div class="s_listing s_grid_view clearfix">

		{% for product_obj in products %}

        <div class="s_item grid_2"> <a class="s_thumb" href="product.html"><img src="images/product_140x140.jpg" title="Eau de toilette pour homme" alt="Eau de toilette pour homme" /></a>
          <h3><a href="product.html">{{product_obj.summary}}</a></h3>
          <p class="s_model">{{product_obj.name}}</p>
          <p class="s_price" style="font-size: 14px;"><span style="font-size: 14px;" class="s_currency s_before">R</span>{{product_obj.price}}</p>
          <a class="s_button_add_to_cart" href="product.html"><span class="s_icon_16"><span class="s_icon"></span>Add to Cart</span></a>
        </div>

		{% endfor %}

        <div class="clear"></div>
      </div>
    </div>
    
    
  </div>
  <!-- end of content --> 
  
  <!-- ********************** --> 
  <!--   S H O P   I N F O    --> 
  <!-- ********************** --> 
  <div id="shop_info">
    <div id="shop_info_wrap">
      <div class="container_12">
        <div id="shop_description" class="grid_3">
          <h2>Shoppica Theme</h2>
          <p>Pellentesque a arcu ut nisi semper cursus. Nullam vehicula dapibus ultrices. Integer nunc risus, fringilla ut hendrerit a, dapibus vestibulum ante. In ullamcorper erat et orci mattis rutrum et a enim. Curabitur semper, erat sit amet condimentum volutpat, enim nisi auctor augue, id fringilla est dui non lectus. Cras in urna ante, sit amet dignissim orci. Proin nibh urna, consectetur vitae placerat luctus.</p>
        </div>
        <div id="shop_contacts" class="grid_3">
          <h2>Contact Us</h2>
          <table width="100%" cellpadding="0" cellspacing="0" border="0">
            <tr>
              <td valign="middle"><span class="s_icon_32"><span class="s_icon s_phone_32"></span>5234452 <br /></span></td>
            </tr>
            <tr>
              <td valign="middle"><span class="s_icon_32"><span class="s_icon s_fax_32"></span>5234452 <br /></span></td>
            </tr>
            <tr>
              <td valign="middle"><span class="s_icon_32"><span class="s_icon s_mail_32"></span>pinko@example.com <br /> pinko@example.com</span></td>
            </tr>
            <tr>
              <td valign="middle"><span class="s_icon_32"><span class="s_icon s_skype_32"></span>my_skype <br /> </span></td>
            </tr>
          </table>
        </div>
        <div id="twitter" class="grid_3">
          <h2>Twitter</h2>
          <ul id="twitter_update_list"><li></li></ul>
          <script type="text/javascript" src="http://twitter.com/javascripts/blogger.js"></script> 
          <script type="text/javascript" src="http://twitter.com/statuses/user_timeline/themeburn.json?callback=twitterCallback2&amp;count=2"></script> 
        </div>
        <div id="facebook" class="grid_3">
          <h2>Facebook</h2>
          <div class="s_widget_holder">
          <script type="text/javascript">
						//<![CDATA[
            document.write('<fb:fan profileid="111188056908" stream="0" connections="6" logobar="0" width="220" css="http://svest.no-ip.org/test/opencart/catalog/view/theme/shoppica//css/facebook.css.php?300"></fb:fan>');
						//]]>
					</script>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  <!-- end of shop info --> 

{% endblock %}