{% extends "base.html" %}

{% block scripts %}
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script>
	
		var coordinatesToPlot = [
   	   		new google.maps.LatLng(-33.904616, 18.416605),
   	   		new google.maps.LatLng(-34.112373, 18.829536),
   	   		new google.maps.LatLng(-33.987210, 18.338585),
   	   		new google.maps.LatLng(-33.874976, 18.733063)
   	   	    ];
    	   	var gmarkers = [];
   	   	var points = [];
   	   	var map;
		function drawPoints(coordinatesToPlot){
		    for (i = 0; i < coordinatesToPlot.length; i++) {
			var marker = new google.maps.Marker({
			     position: coordinatesToPlot[i],
			      map: map,
			     title: 'point ' + i
			 });
		    }
		    
		}
   	   	function initialize() {
   	   	    var map_canvas = document.getElementById('map_canvas');
   	   	    var map_options = {
   	   		center: new google.maps.LatLng(-33.987210, 18.558585),
   	   		zoom: 8,
   	   		mapTypeId: google.maps.MapTypeId.ROADMAP
   	   	    }
   	   	    map = new google.maps.Map(map_canvas, map_options);

   	   	    infowindow = new google.maps.InfoWindow();

   	   	}
   	   	$(document).ready(function() {
   	   	    initialize();
		    drawPoints(coordinatesToPlot)
   	   	});</script>
{% endblock %}

{% block base_content %}
  <body>
    <div id="map_canvas"></div>
  </body>
{% endblock %}
